.hide-on-med-and-down, .nav-wrapper {
	background-color: black;
}

.active {
	background-color: #00c96d !important;
}

.quicklook p {
	color: white;
	font-size: 20px;
	margin-bottom: 1px;
}

.quicklook .card {
	padding: 0px 0px 10px 0px;
}
.quicklook {
	text-align: center;
}