{% extends "layout.html" %}

{% block dashboard %}
<div class="row quicklook">
	<div class="col s6 m3 l3">
		<div class="card black">
			<p>$100,000</p>
			<span class="white-text"><b>Net worth</b></span>
		</div>
	</div>
	<div class="col s6 m3 l3">
		<div class="card black">
			<p>$100,000</p>
			<span class="white-text"><b>Saving Rate</b></span>
		</div>
	</div>
	<div class="col s6 m3 l3">
		<div class="card black">
			<p>$100,000</p>
			<span class="white-text"><b>Income</b></span>
		</div>
	</div>
	<div class="col s6 m3 l3">
		<div class="card black">
			<p>$100,000</p>
			<span class="white-text"><b>Spending</b></span>
		</div>
	</div>
</div>

{% endblock %}